<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Пользователи</title>
</head>
<body>
<div>
    <table th:border="1">
        <thead>
        <tr>

            <th>ID</th>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Возраст</th>
            <th>Email/Login</th>
            <th>Права доступа</th>

        </tr>
        </thead>

        <tr>

            <td th:text="${user.getId()}"></td>
            <td th:text="${user.getLastName()}"></td>
            <td th:text="${user.getName()}"></td>
            <td th:text="${user.getAge()}"></td>
            <td th:text="${user.getEmail}"></td>
            <td th:each="role : ${user.getRoles()}" th:text="${role.getName()} + '; '"></td>

        </tr>

    </table>
</div>
<br/>
<hr/>

<form th:method="POST" th:action="@{/logout}">
    <input type="submit" value="LOGOUT">
</form>
</body>
</html>